@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

:root{
    --colorAzulado:#0dabc7;
    --colorVerdoso: #042e0d;
    --colorVioleta: #3d0940;
    --chocolate: #a3580c;
    --fondoRadial: radial-gradient(circle, #0dabc7, #052e05);

}

a:link, a:visited, a:active {
    text-decoration:none;
}

#encabezado{
    background: linear-gradient(to bottom, var(--chocolate), var(--colorVioleta));
    height: 14vw;
}

#logo{
    width: 10vw;
    margin-left: 3vw;
}

#titulo{
    display: inline-block;
    color: white;
    font-size:4.5vw;
    margin: 0 0 2vw 5vw;
}

#titulo2{
    font-size: 2vw;
    color: white;
    margin-left: 2vw;
    font-style: italic;
}

nav{
    display: flex;
    justify-content: space-evenly
}

nav a{
    background-color: white;
    border-radius: 20px;
    font-size: 1.7vw;
    text-align: center;
    text-decoration: none;
    min-width: 15vw;
}

.active{
    background-color :#c8c7ab;
    color: #000;
    font-weight: bold;
    transform: scale(1.2)

}

#intro2{
    background-color: var(--colorAzulado);
    background-image: url(media/centro-civico.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 20vw;
}

#intro2 p{
    font-size: 3.6vw;
   color: white;
   text-align: center;
}

#intro3{
    display: flex;
    padding: .5vw 0;
    justify-content: space-evenly;
    background-color: #721c7c;
    color: white;
}

#intro3 ul li{
    display: inline-flex;
    align-items: center;
    font-size: 1.3vw;
    margin-right: 4vw;
}

#intro3 ul li .material-icons{
    margin: 1vw;
}

#intro3 ul li:last-child{
    margin-right: 0;
}

.material-icons{
    font-size: 4vw;
}

p span{
    font-weight: bold;
}

#contenedorCarrito{
    display: inline-flex;
    width: 13vw;
    height: 7vw;
    margin-left: 5vw;
    padding: 9px;
}

#iconoCarrito{
    width: 5vw;
}

#contadorCarrito{
    display: inline-flex;
    position: relative;
    bottom: 1vw;
    background: red;
    color: white;
    font-weight: bold;
    width: 4vw;
    height: 4vw;
    font-size: 2vw;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 1vw
}

#botonera {
     display: flex;
     width: 90%;
     flex-direction: column;
     grid-area: botones;
     margin: auto;
}

#botonera h3{
    font-size: 2.5vw;
    text-align: center;
}

#botonera p{
    background-color: inherit;
    font-size: 2vw;
    margin: 0 5vw;
}

#contador{
    display: flex;
    margin: auto;
}

#contador input{
    text-align: center;
    font-size: 3vw;
    width: 5vw;
    height: 5vw;
    border-radius: 20px;
    border: none;
}

#contador button{
    padding: .6vw;
    border-radius: 20px;
    margin: 0 2vw;
    background: #af7d09;
}

#btnAgregar{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 1vw auto;
    background: #b484b2;
    border-radius: 20px;
    font-size: 1.6vw;
    width: 80%;
}

#botonesDobles{
    grid-area: botones;
    align-self: center;
}

#btnSeguir{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: yellowgreen;
    color: white;
    border-radius: 20px;
    font-size: 1.6vw;
    width: 80%;
}

#btnConfirmar{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: #042e0d;
    color: white;
    border-radius: 20px;
    font-size: 1.6vw;
    width: 80%;
}

.loading{
    display: flex;
    flex-direction: column;
    background: var(--fondoRadial);
    height: 100vh;
}

.loading img{
       width: 30vw;
       margin: 2vw auto;
}

#cargando, #cargando2, #cargando3{
    align-self: center;
    font-size: 4vw;
    font-weight: bold;
    color: white;
    background-color: transparent !important;
}

.subTitulo{
    text-align: center;
    font-size: 4vw;
    color: white;
    height: 0;
}

#productosPintados{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: var(--fondoRadial);
    padding-top: 6vw;
}

.itemsIntro{
    background: black;
    width: 15vw;
    height: 30vw;
    margin: 1vw 0;
    border-radius: 20px;
}

.itemsIntro img{
    height: 12vw;
    width: 12vw;
    object-fit: cover;
    margin: 1.5vw;
    border-radius: 20px 20px 0 0;
}

#introNombre{
    text-align: center;
    font-size: 2vw;
    color: #fff;
    height: 9vw;
}
#btnVerMas{
    display: flex;
    background: black;
    border: none;
    color: #c4c463;
    align-items: center;
    margin: auto;
    font-size: 2vw;
}

#btnVerMas .material-icons{
    margin-right: 1vw;
}

footer{
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, var(--colorVioleta), var(--chocolate));
    color: #fff;;
}

#redes{
    display: flex;
    flex-direction: column;
    width: 20%;
    font-size: 2vw;
    align-items: center;
}

footer img{
    width: 2vw;
    height:2vw;
    margin: 0.5vw;
}

#info{
    width: 60%;
    text-align: center;
}

#btnArriba{
    display: flex;
    width: 20%;
    justify-content: center;
}

#btnArriba button{
    display: flex;
    font-size: 1.5vw;
    background: transparent;
    border: none;
    color: wheat;
    flex-direction: column;
    align-items: center;
}

#itemDetallado{
    height: auto;
    background: linear-gradient(to right, #0dabc7, #052e05);
    padding: 3vw 0;
}

#detalle {
    display: grid;
    grid-template-areas: "tituloDetail tituloDetail"
        "imagenDetail precioDetail"
        "imagenDetail descripcionDetail"
        "imagenDetail botones";
    grid-template-rows: auto 20% auto auto;
    grid-template-columns: 45% 55%;
    width: 80vw;
    font-size: 4vw;
    background-color: #c9ac8f;
    border-radius: 20px;
    text-align: center;
    margin: auto;
}

#tituloDetail{
    grid-area: tituloDetail;
    font-weight: bold;
}

#imagenDetail{
    grid-area: imagenDetail;
}

#precioDetail{
    grid-area: precioDetail;
    font-size: 3vw;
    text-align: left;
    align-self: center;
}

#descripcionDetail{
    grid-area: descripcionDetail;
    font-size: 2vw;
    text-align: left;
    align-self: top;
}

#detalle img{
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    margin: 2vw;
}

.descripcion{
    font-size: 2vw;
    text-align: center;
}

.descripcion::first-letter{
    font-size: 4vw;
    color: #761380;
}

#cartPage{
    background-color:var(--chocolate);
    background-image: url(media/wallpaper.jpg);
    background-position: bottom;
    padding-bottom: 3vw;
}

#tituloCarrito{
    text-align: center;
    font-size: 3vw;
    color: #fff;
}

#subTituloCarrito{
    text-align: center;
    font-size: 2vw;
    color: #fff;
}

#divCarrito{
    display: flex;
    background: #9e9191;
    width: 80%;
    border-radius: 20px;
    margin: 2vw auto;
    padding: 2vw;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2vw;
}

#divCarrito2{
    width: 30vw;
}

#divCarrito img{
    object-fit: cover;
}

#botonesCart{
    width: 15vw;
    text-align: center;
    font-size: 1vw;
}

#btnCartMenos{
    background: #f00;
    color: #fff;
    margin-right: 1vw;
}

#btnCartMas{
    background: #002f00;
    color: #fff;
    margin-top:1vw
}

#btnEliminar{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background: red;
    color: white;
    border: none;
    outline: none;
}

#btnEliminar .material-icons{
    margin: 0
}

#btnCart{
    display: flex;
    justify-content: space-evenly;
}

#btnIrAForm{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0e3b15;
    border-radius: 20px;
    font-size: 2vw;
    padding: 1vw;
    color: #fff;
    width: 25vw;
}

#btnVaciar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: red;
    color: white;
    font-size: 2vw;
    padding: 1vw;
    width: 25vw;
}

#cartVacio{
    font-size: 5vw;
    text-align: center;
}

#imgVacio{
    width: 36%;
    margin-left: 30%;
}

#divTotal{
    display: flex;
    background: #789c35;
    color: white;
    width: 80%;
    margin: 2vw auto;
    padding: .5vw 0;
    font-size: 3vw;
    border-radius: 20px;
    justify-content: space-evenly;
}

#btnIrInicio{
    background: green;
    padding: 1vw 2vw;
    border-radius: 20px;
    margin: 0 0 2vw 35%;
}

#txtIrInicio{
    display: flex;
    font-size: 3vw;
    color: white;
}

#error{
    font-size: 3vw;
    text-align: center;
    background-color: #fff;
    padding-bottom: 15vw;
}

#formPage{
    background: var(--chocolate);
    background-image: url(media/wallpaper2.jpg);
    padding: 1vw 0 3vw 0;
    background-repeat: no-repeat;
    background-size: cover;
}

#tituloForm{
    text-align: center;
    font-size: 4vw;
    color: #fff;
}

#formListado{
    background: #89b9a9;
    border-radius: 20px;
    width: 60%;
    margin: auto;
    padding: 1vw;
    font-size: 2vw;
}

#formListado button{
    border-radius: 20px;
    font-size: 2vw;
    padding: 1vw;
    width: 60%;
    margin: 2% 20%;
}

#formulario{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 2vw auto;
    background: #154c5e;
    border-radius: 20px;
}

#formulario input{
    background: #d3d3d3;
    width: 90%;
    margin: 1vw auto;
    padding: 1vw;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 2vw;
}

#formulario button{
    display: flex;
    background: #8bc34a;
    width: 90%;
    margin: 1vw auto;
    padding: 1vw;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 2vw;
    align-items: center;
    justify-content: center;
}

#compraHecha{
    display: flex;
    font-size: 3vw;
    padding: 8vw 0;
    width: 100%;
}

.compraLista{
    color: #9c27b0;
    font-weight: bold;
}