@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Londrina Solid', cursive;
}

#encabezado
{
    background: linear-gradient(to bottom, #0dabc7, #052e05);
    height: 12vw;
}

#logo
{
    width: 10vw;
    margin-left: 3vw;
}

.titulo
{
    display: inline-block;
    color: white;
    font-size: 5vw;
    margin-left: 5vw;
}

#encabezado a
{
    background-color: white;
    border-radius: 20px;
    padding: 0vw 2vw;
    margin: 4vw;
    font-size: 2vw;
    text-decoration: none;
}

#intro
{
    background-image: url(media/foto1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vw;
}

#intro h1
{
    font-size: 6vw;
    text-align: center;
}

#intro ul, #intro p
{
    font-size: 3vw;
    margin: 0 20vw;
    background-color: #ffffff70;
    line-height: 1.5;
    list-style-position: inside;
}

#contenedorCarrito
{
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    margin-left: 7vw;
    padding: 9px;
}

#iconoCarrito
{
    width: 5vw;
}