/* @import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Londrina Solid', cursive; */
    font-family: 'Sen', sans-serif;
}

#encabezado
{
    background: linear-gradient(to bottom, #0dabc7, #052e05);
    height: 13vw;
}

#logo
{
    width: 10vw;
    margin-left: 3vw;
}

.titulo
{
    display: inline-block;
    color: white;
    font-size:3.6vw;
    margin: 0 0 2vw 5vw;
}

#encabezado a
{
    background-color: white;
    border-radius: 20px;
    padding: 0vw 2vw;
    margin: 4vw;
    font-size: 1.7vw;
    text-decoration: none;
}

#intro
{
    background-image: url(media/foto1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vw;
}

#intro h1
{
    font-size: 4.6vw;
    text-align: center;
}

#intro ul, #intro p
{
    font-size: 2.2vw;
    margin: 0 15vw;
    background-color: #ffffff70;
    line-height: 1.5;
    list-style: none;
}

.material-icons
{
    font-size: 4vw;
    margin-right: 2vw;
}

p span
{
    font-weight: bold;
}

#contenedorCarrito
{
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    margin-left: 7vw;
    padding: 9px;
}

#iconoCarrito
{
    width: 5vw;
}